.MainPage__container{
    width: 1170px;
    margin: 0 auto;
}
ul.cardContainer{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-column-gap: 15px;
}
.AddBtn{
    max-width: 300px;
    margin: 10px auto 30px;
    text-align: center;
    padding: 10px;
    background: #cccccc;
    cursor: pointer;
}
.buttonsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.buttonsContainer>div{
    cursor: pointer;
    padding: 10px;
    width: 300px;
    text-align: center;
    color: #000000;
    background: #cccccc;
}
.buttonsContainer>div:last-child{
    justify-self: end;
}
.buttonsContainer>div.active{
    background: green;
    font-style: italic;
    color: #ffffff;
}
